body {
  padding: 50px;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #00B7FF;
}


.md-block {
    margin-bottom: 20px; 
     
}

.formclass {
    margin: 50px;
}

.formrow {
    
    margin-bottom: 20px; 
}

.formcontainer {
    padding: 10px;
    max-width: 640px;
    margin: 0 auto;
}