body {
  padding: 50px;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #00B7FF;
}


.md-block {
    margin-bottom: 20px; 
     
}

.formclass {
    margin: 50px;
}

.formrow {
    
    margin-bottom: 20px; 
}

.formcontainer {
    padding: 10px;
    max-width: 640px;
    margin: 0 auto;
}

.summary {
    margin-bottom: 10px;
}

.filters {
    margin-bottom: 10px;
}

.filters h3{
    margin-top: 0;
}

.input-con{
    margin: 5px 0;
}

.filter-block {
    margin-right: 30px;
    max-width: 200px;
}

.md-input-container .md-errors-spacer {
    min-height: 0;
}